@import "../bower_components/normalize.scss/normalize";
@import "../bower_components/susy/sass/susy";

html, body {
    background-color: #eee;
    @include container(80%);
}

$screen-xsm: 480px;
$screen-sm: 720px;
$screen-md: 1080px;
$screen-lg: 1440px;
$screen-xlg: 1600px;
$screen-xxlg: 1920px;
$screen-uhd: 2560px;
$screen-4k: 4096px;


body, html {
	font-size: 1em;

	@media only screen and (min-width: $screen-sm) and (max-width: $screen-md) {
		font-size: 1.1em;
	}
	@media only screen and (min-width: $screen-md) and (max-width: $screen-lg) {
		font-size: 1.2em;
	}
	@media only screen and (min-width: $screen-lg) and (max-width: $screen-xlg) {
		font-size: 1.3em;
	}
	@media only screen and (min-width: $screen-xlg) {
		font-size: 1.4em;
	}

}